In [1]:
import glob

import pandas as pd

# get data file names
path =r'C:\Users\Faisal\Desktop\cse498\test.csv\New folder'

filenames = glob.glob(path + "/*.csv")
print('Total Files: ',len(filenames))

Total Files:  5

In [2]:
#append all data in one list
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
combined = pd.concat(dfs, ignore_index=True)
print('Total combined row: ',len(combined))

Total combined row:  500

In [8]:
#splitting main tran.csv upon row variable
row = 500
mainFile = pd.read_csv(r'C:\Users\Faisal\Desktop\cse498\test.csv\train.csv')
df = mainFile[:row]
print('Total row splitted: ',len(df))

Total row splitted:  500
        User_ID                                        Description  \
count       500                                                500
unique      500                                                500
top     id10638  This hotel was right in the middle of everythi...
freq          1                                                  1

       Browser_Used Device_Used Is_Response
count           500         500         500
unique           11           3           2
top         Firefox      Mobile       happy
freq            109         205         331

In [5]:
# initialise data of lists.
data = {'Description':combined['description'].values,
        'Label':df['Is_Response'].values}
 
# Create DataFrame
new = pd.DataFrame(data)
 
# Save the output in Final.csv file.
new.to_csv(r'C:\Users\Faisal\Desktop\cse498\test.csv\final.csv',index=False)

In [6]:
#read the csv again
final = pd.read_csv(r'C:\Users\Faisal\Desktop\cse498\test.csv\final.csv')
final.head()

                                         Description      Label
0  ঘরটি একধরনের পরিষ্কার ছিল কিন্তু কুকুরের খুব ত...  not happy
1  আমি ক্রাউন প্লাজায় এপ্রিল--এপ্রিল-, ---- থাকল...  not happy
2  আমি সর্বনিম্ন মূল্যে হটওয়্যারের মাধ্যমে এই হো...  not happy
3  আলাস্কা ক্রুজে যাওয়ার পথে স্বামী ও পুত্রদের স...      happy
4  আমার গার্লফ্রেন্ডরা এবং আমি আমাদের th তম জন্মদ...  not happy